# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [1]:
CREATE TABLE sunital.Bakingclass
( ID int IDENTITY (1,1) PRIMARY key,
      First_name VARCHAR(25),
      Last_name VARCHAR(25),
      Age int ,
     Gender VARCHAR(50),
     Email_address VARCHAR (50)
   );

Add three rows to your table that are your planned makes.

In [2]:

INSERT INTO sunital.Bakingclass ( First_name, Last_name, Age, Gender, Email_address)
VALUES ('Lisa','Brown','30','Female','lisab20@hotmail.com'),
        ('Nita','Rai','39','Female','nitar21@hotmail.com'),
        ('Ryan','Wheeler','31','Male','ryanw@hotmail.com');

In [3]:
SELECT*
FROM sunital.Bakingclass

ID,First_name,Last_name,Age,Gender,Email_address
1,Lisa,Brown,30,Female,lisab20@hotmail.com
2,Nita,Rai,39,Female,nitar21@hotmail.com
3,Ryan,Wheeler,31,Male,ryanw@hotmail.com

## Update a Row

Change different values in one of your three rows.

In [8]:
UPDATE sunital.Bakingclass
SET First_name  = 'Nancy' ,
 Age = 25
WHERE
	Id=3;

In [9]:
SELECT *
FROM sunital.Bakingclass

ID,First_name,Last_name,Age,Gender,Email_address
1,Lisa,Brown,30,Female,lisab20@hotmail.com
2,Nita,Rai,39,Female,nitar21@hotmail.com
3,Nancy,Wheeler,25,Male,ryanw@hotmail.com

## Delete a Row

Delete one of the rows from your table.

In [10]:
DELETE From sunital.Bakingclass where First_name ='Nancy'

In [11]:
SELECT *
from sunital.Bakingclass

ID,First_name,Last_name,Age,Gender,Email_address
1,Lisa,Brown,30,Female,lisab20@hotmail.com
2,Nita,Rai,39,Female,nitar21@hotmail.com

## Drop the Table

While this has been fun, it is time to drop the table!

In [12]:
DROP TABLE sunital.Bakingclass